
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/css/Ride.css" rel="stylesheet" />
    <link href="~/css/gooco.css" rel="stylesheet" />
</head>

<body>

    <header class="header">
            <div class="navbar-inner">
                <div class="datetime-picker">
                    <label class="dropbtn">Choose City</label>
                    <select class="dropdown-content">
                        <option value="">Select a city</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="delhi">Delhi</option>
                        <option value="bangalore">Bangalore</option>
                        <option value="chennai">Chennai</option>
                        <option value="Ahemdabad">Ahemdabad</option>
                    </select>
                </div>
                <div class="datetime-picker">
                    <label for="startDateTime">Start Date & Time</label>
                    <input type="datetime-local" id="startDateTime" name="startDateTime">
                </div>
                <div class="datetime-picker">
                    <label for="endDateTime" class="">End Date & Time</label>
                    <input type="datetime-local" id="endDateTime" name="endDateTime">
                </div>
            </div>

    </header>

    @*features Section ends
    product section Starts*@
    <section class="product" id="product">
        <h1 class="heading">our<span>products</span></h1>

        @*product milege bikes*@
        <div class="swiper product-slider" id="milege_Bike">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="~/img/Milege_Bikes/platina-110.png" alt="" />
                    <h3>platina-110</h3>
                    <div class="price">50/- per Hour</div>
                    <div class="price">200/- per day</div>
                    <div class="price">800/- per week</div>
                    <div class="price">2500/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Milege_Bikes/sp-125.png" alt="" />
                    <h3>sp-125</h3>
                    <div class="price">50/- per Hour</div>
                    <div class="price">200/- per day</div>
                    <div class="price">800/- per week</div>
                    <div class="price">2500/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Milege_Bikes/splendor.png" alt="" />
                    <h3>splendor</h3>
                    <div class="price">50/- per Hour</div>
                    <div class="price">200/- per day</div>
                    <div class="price">800/- per week</div>
                    <div class="price">2500/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Milege_Bikes/TVS-sport-.png" alt="" />
                    <h3>TVS-sports</h3>
                    <div class="price">50/- per Hour</div>
                    <div class="price">200/- per day</div>
                    <div class="price">800/- per week</div>
                    <div class="price">2500/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Milege_Bikes/platina-110.png" alt="" />
                    <h3>platina-110</h3>
                    <div class="price">50/- per Hour</div>
                    <div class="price">200/- per day</div>
                    <div class="price">800/- per week</div>
                    <div class="price">2500/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Milege_Bikes/sp-125.png" alt="" />
                    <h3>sp-125</h3>
                    <div class="price">50/- per Hour</div>
                    <div class="price">200/- per day</div>
                    <div class="price">800/- per week</div>
                    <div class="price">2500/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
            </div>
        </div>

        @*product scooty*@
        <div class="swiper product-slider" id=scooty_Bike>
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="~/img/Scooty/honda-activa.png" alt="" />
                    <h3>honda-activa</h3>
                    <div class="price">70/- per Hour</div>
                    <div class="price">300/- per day</div>
                    <div class="price">1000/- per week</div>
                    <div class="price">3600/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Scooty/ola-s1.png" alt="" />
                    <h3>ola-s1</h3>
                    <div class="price">70/- per Hour</div>
                    <div class="price">300/- per day</div>
                    <div class="price">1000/- per week</div>
                    <div class="price">3600/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Scooty/suziki access 125.png" alt="" />
                    <h3>suziki access 125</h3>
                    <div class="price">70/- per Hour</div>
                    <div class="price">300/- per day</div>
                    <div class="price">1000/- per week</div>
                    <div class="price">3600/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Scooty/tvs-jupiter.png" alt="" />
                    <h3>tvs-jupiter</h3>
                    <div class="price">70/- per Hour</div>
                    <div class="price">300/- per day</div>
                    <div class="price">1000/- per week</div>
                    <div class="price">3600/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Scooty/tvs-ntorq.png" alt="" />
                    <h3>tvs-ntorq</h3>
                    <div class="price">70/- per Hour</div>
                    <div class="price">300/- per day</div>
                    <div class="price">1000/- per week</div>
                    <div class="price">3600/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Scooty/yamaha-scooty.jpg" alt="" />
                    <h3>yamaha-scooty</h3>
                    <div class="price">70/- per Hour</div>
                    <div class="price">300/- per day</div>
                    <div class="price">1000/- per week</div>
                    <div class="price">3600/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
            </div>
        </div>

        @*product sports bikes*@
        <div class="swiper product-slider" id="sports_Bike">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/bajaj-pulsar-220.png" alt="" />
                    <h3>bajaj-pulsar-220</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/bajaj-pulsar-rs-200.png" alt="" />
                    <h3>bajaj-pulsar-rs-200</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/bajaj-pulsarns-125-.png" alt="" />
                    <h3>bajaj-pulsarns-125</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/honda-hornet.png" alt="" />
                    <h3>honda-hornet</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/ktm-rc125.png" alt="" />
                    <h3>ktm-rc125</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/tvs-raider.png" alt="" />
                    <h3>tvs-raider</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/tvs-apache-rtr-200.png" alt="" />
                    <h3>tvs-apache-rtr-200</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
                <div class="swiper-slide box">
                    <img src="~/img/Sports Bike/yamaha-mt-15.png" alt="" />
                    <h3>yamaha-mt-15</h3>
                    <div class="price">100/- per Hour</div>
                    <div class="price">500/- per day</div>
                    <div class="price">1500/- per week</div>
                    <div class="price">6000/- per month</div>
                    <a href="@Url.Action("RentNow", "Home")" class="btn">Rent Now</a>
                </div>
            </div>
        </div>
    </section>

    @*FAQ Section Ends
    footer Section Starts*@
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>RideGo <i class="fas fa-motorcycle"></i></h3>
                <p></p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>
            <div class="box">
                <h3>Contact Info</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>+91-9431613162</a>
                <a href="#" class="links"><i class="fas fa-phone"></i>+91-9431613162</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>rideGo@gmail.com</a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>Ahmedabad, India</a>
            </div>
            <div class="box">
                <h3>Quick links</h3>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i> home </a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i> features </a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i> products </a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i> categories </a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i> review </a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i> blogs </a>
            </div>
            <div class="box">
                <h3>newsletter</h3>
                <p>Subscribe for latest update</p>
                <input type="email" placeholder="your email" class="email" />
                <input type="submit" placeholder="subscribe" class="btn" />
                <img src="" class="payment-img" alt="" />
            </div>
        </div>
        <div class="credit">created by <span> Biswajit Mandal</span> | all rights reversed</div>
    </section>
</body>

@section Scripts{
    
    <script src="~/js/Ride.js"></script>
}